*..rcheck
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.fix
*.hi
*.hp
*.log
*.o
*.prof
*.swp
.cabal-sandbox/
.hpc
.hsenv
.HTF/
.idea/
.lib/
.stack-work/
_build/
cabal-dev
cabal.project.local
cabal.sandbox.config
dist
dist-*
dist/
TAGS